.about {
  height: 70vh;
  position: relative;
  background-color: #e9ecef;
}
.about article {
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about article h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  letter-spacing: -1px;
  color: #212529;
}
.about article p {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #343a40;
}

@media only screen and (max-width: 600px) {
  .about {
    height: 85vh;
  }
  .about article h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 600;
  }
  .about article p {
    font-size: 1.2rem;
    color: #333;
  }
}
