.hidden-content {
  background-color: #dee2e6;
  width: 70vw;
  margin: 20px auto;
  /* margin-bottom: 20px; */
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  position: relative;
}
.hidden-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
.hidden-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #495057;
}
.hidden-content a {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  text-decoration: none;
  background-color: #099268;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
}
.hidden-content a:hover {
  background-color: #12b886;
}

.hidden {
  display: none;
}

.hidden-content .exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  border: none;
  background-color: #ced4da;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
.hidden-content .cross {
  width: 20px;
  height: auto;
  /* font-weight: 700; */
}

@media only screen and (max-width: 600px) {
  .hidden-content h1 {
    font-size: 30px;
  }
  .hidden-content p {
    font-size: 14px;
  }
}
