@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Inter&family=Lora:ital,wght@1,500&family=Roboto+Slab:wght@300&display=swap");
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif;
 */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e9ecef;
  color: white;
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Inter', sans-serif; */
}

/* Nav-bar */
.nav-bar {
  height: 60px;
  position: sticky;
  top: 0;
  /* background: linear-gradient(rgb(182, 120, 207), rgb(156, 153, 220)); */
  /* background: rgb(172, 211, 219); */
}
/* TOP BAR */
.top-bar {
  background: url(/images/purpleBG2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  /* padding-bottom: 10px; */
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #555;
}

.contents h1 {
  font-size: 40px;
  color: #333;
  /* font-family: "Lora", serif; */
}
.icon a i {
  font-size: 30px;
  /* position: absolute;
    bottom: 40px; */
  animation: up-down 1s infinite ease-in-out;
}
.description {
  width: 60%;
  margin: 8vw 10vw 10vw 10vw;
  font-size: 30px;
  /* color: #333; */
}
@media only screen and (min-width: 815px) {
  .description {
    width: 800px;
  }
  .top-bar {
    height: 100vh;
  }
  .icon a i {
    font-size: 35px;
  }
}
@media only screen and (max-width: 600px) {
  /* .top-bar
    {
        height: 100vh;
    } */
  .role-heading {
    font-size: 5px;
  }
  .description {
    font-size: 18px;
  }
  .nav-bar {
    height: 50px;
  }
}
/* END OF TOP BAR */

/* CARD-CONTAINER */
.role-heading {
  color: #333;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin: 5vw 0 10px 0px;
  font-family: "Roboto Slab", serif;
}
.position {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* position: relative; */
  /* margin: 20px; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.person {
  width: 350px;
  height: 420px;
  /* transition: ease-in-out; */
  overflow: hidden;
  position: relative;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.position img {
  width: 350px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.intro {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 20px;
}
.name,
.role {
  font-weight: 800;
}
.socials {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.person:hover img {
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
}
.socials a {
  padding: 2px 0px;
}
.socials a i:hover {
  color: yellow;
  transform: scale(1.2);
  transition: 0.25s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .role-heading {
    font-size: 14px;
  }
  .position {
    margin-bottom: 3rem;
  }
}
